.rmwrap
{
  position:relative;
  width:60vmin; 
  height:60vmin;
  margin:0 auto;
  background:inherit;
  -webkit-transform:scale(0.2) translatez(0px);
          transform:scale(0.2) translatez(0px);
  opacity:0;
  -webkit-transition:opacity .5s, -webkit-transform .5s;
  transition:opacity .5s, -webkit-transform .5s;
  transition:transform .5s, opacity .5s;
  transition:transform .5s, opacity .5s, -webkit-transform .5s;
}

.rmslice
{
  position:absolute;
  left:0; top:0;
  width:47.5%; height:47.5%;
  overflow:hidden;
  -webkit-transform:scale(.5) translateZ(0px);
          transform:scale(.5) translateZ(0px);
  background:#585247;
}

.rmslice div
{
  height:100%;
  background-size:cover;
  opacity:.5;
  -webkit-transition:opacity .5s;
  transition:opacity .5s;
  border-radius:inherit;
}

.rmslice:nth-child(1)
{
  border-radius:40vmin 0 0 0;
  -webkit-transform-origin: 110% 110%;
          transform-origin: 110% 110%;
  -webkit-transition:-webkit-transform .4s .15s;
  transition:-webkit-transform .4s .15s;
  transition:transform .4s .15s;
  transition:transform .4s .15s, -webkit-transform .4s .15s;
}

.rmslice:nth-child(1) div{
  background-image: url('pictures/newexperiment.png');
}

.rmslice:nth-child(2)
{
  border-radius:0 40vmin 0 0;
  left:52.5%;
  -webkit-transform-origin: -10% 110%;
          transform-origin: -10% 110%;
  -webkit-transition:-webkit-transform .4s .2s;
  transition:-webkit-transform .4s .2s;
  transition:transform .4s .2s;
  transition:transform .4s .2s, -webkit-transform .4s .2s;
}

.rmslice:nth-child(2) div
{
  background-image: url('pictures/loadexperiment.png');
}

.rmslice:nth-child(3)
{
  border-radius:0 0 0 40vmin;
  top:52.5%;
  -webkit-transform-origin: 110% -10%;
          transform-origin: 110% -10%;
  -webkit-transition:-webkit-transform .4s .25s;
  transition:-webkit-transform .4s .25s;
  transition:transform .4s .25s;
  transition:transform .4s .25s, -webkit-transform .4s .25s;
}

.rmslice:nth-child(3) div
{
  background-image: url('pictures/casestudies.png');
}

.rmslice:nth-child(4)
{
  border-radius:0 0 40vmin 0;
  top:52.5%; left:52.5%;
  -webkit-transform-origin: -10% -10%;
          transform-origin: -10% -10%;
  -webkit-transition:-webkit-transform .4s .3s;
  transition:-webkit-transform .4s .3s;
  transition:transform .4s .3s;
  transition:transform .4s .3s, -webkit-transform .4s .3s;
}

.rmslice:nth-child(4) div
{
  background-image: url('pictures/recentexperiments.png');
}

.rmslice:nth-child(5)
{
  width:55%;height:55%;
  left:22.5%; top:22.5%;
  border-radius:50vmin;
  box-shadow:0 0 0 5vmin #F1F1F1;
  -webkit-transform:scale(1);
          transform:scale(1);
}

.rmslice:nth-child(5) div
{
  background-image: url('pictures/BIOMEX.png');
}

.rmcirclespan
{
  position:relative;
  display:block;
  margin:0 auto;
  top:45vmin;
  width:10vmin; height:10vmin;
  border-radius:100%;
  background:#585247;
  -webkit-transform:translateZ(0px);
          transform:translateZ(0px);
		  
  display:none; /* Remove the clickable widget to open the menu since we open the menu by default. It also fixes the margin problem. */
}

.rmcirclespan span
{
  position:absolute;
  width:60%;height:3px;
  background:#ACA696;
  left:20%; top:50%;
  border-radius:0;
}

.rmcirclespan span:after, .rmcirclespan span:before
{
  content:'';
  position:absolute;
  left:0; top:-1.5vmin;
  width:100%; height:100%;
  background:inherit;
}

.rmcirclespan span:after
{
  top:1.5vmin;
}

.rmcirclespan + .rmwrap, .rmwrap{
  -webkit-transform:scale(.8) translateZ(0px);
          transform:scale(.8) translateZ(0px);
  opacity:1;
}

.rmcirclespan + .rmwrap .rmslice, .rmwrap .rmslice
{
  -webkit-transform:scale(1) translatez(0px);
          transform:scale(1) translatez(0px);
}
.rmslice:hover div{
  opacity:1;
  -webkit-transform:translatez(0px);
          transform:translatez(0px);
}

#rmlogoslice div
{
   opacity: 1;
}